<app-header title="H5 SDK Layout Playground"></app-header>

<div class="row scrollable margin-top-xl" style="height: calc(100vh - 60px);">
  <div class="twelve columns">
    <p><a class="hyperlink hide-focus" [routerLink]="['../approval-tag']"><svg soho-icon icon="display"></svg>Approval Tag</a></p>
    <p><a class="hyperlink hide-focus" [routerLink]="['../item-maintenance']"><svg soho-icon icon="display"></svg>Item Maintenance</a></p>
    <p><a class="hyperlink hide-focus" [routerLink]="['../pick-and-pack']"><svg soho-icon icon="display"></svg>Pick and Pack</a></p>
    <p><a class="hyperlink hide-focus" [routerLink]="['../com']"><svg soho-icon icon="display"></svg>Customer Order Mashup</a></p>
    <p><a class="hyperlink hide-focus" [routerLink]="['../planned-po']"><svg soho-icon icon="display"></svg>Planned PO</a></p>
    <p><a class="hyperlink hide-focus" [routerLink]="['../planned-po/aggregated']"><svg soho-icon icon="display"></svg>Planned PO (Aggregated)</a></p>
    <p><a class="hyperlink hide-focus" [routerLink]="['../wo-reporting']"><svg soho-icon icon="display"></svg>WO Reporting Portal</a></p>
    <p><a class="hyperlink hide-focus" [routerLink]="['../wo-reporting-2']"><svg soho-icon icon="display"></svg>WO Reporting Portal 2</a></p>
    <p><a class="hyperlink hide-focus" [routerLink]="['../release-orders']"><svg soho-icon icon="display"></svg>Release Orders</a></p>
  </div>
</div>
