<div class="full-width">
  <div class="row">
    <div class="twelve columns">
      <div class="compound-field">
        <div class="field">
          <span class="label">Warehouse</span>
          <input type="text" readonly value="530 - Main Warehouse" />
        </div>

        <div class="field margin-right-xl">
          <span class="label">Supplier</span>
          <input type="text" readonly value="001 - Bran's Merchandise" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <div id="ppo-aggregated-grid" soho-datagrid="auto" [gridOptions]="gridOptions" style="height: calc(100vh - 180px)">
        </div>
      </div>
    </div>
  </div>